@import "../../theme/antd-custom.scss";

.headerOveride {
  padding: 0;
  margin: 0;

  > div {
    align-items: center;
  }
}

.prefix {
  color: $text-color-secondary;
  opacity: 0.5;
  font-size: 1.2rem;
}

.label {
  color: $text-color-secondary;
  opacity: 0.8;
}

.statsTitle {
  text-align: right;
}
