@import "../../theme/antd-custom.scss";

.cardOveride {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
}

.container {
  display: grid;
  overflow: hidden;
  justify-items: center;
  gap: 20px;
}

.cardHead {
  display: grid;
  grid-template-columns: 30px 1fr;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(99, 104, 126);
  gap: 15px;
}

.cardContent {
  width: 100%;
}

.invertColors {
  background-color: $primary-color;

  & .cardHead span,
  & .cardContent p {
    color: $white-bg;
    opacity: 0.8;
  }

  & .cardHead svg {
    fill: $white-bg;
  }

  & .cardContent h1,
  & .cardContent h1 span {
    color: $white-bg;
  }

  & .cardContent button {
    background-color: $warning-color;
  }
  & .cardContent button + span {
    color: $white-bg;
  }
}
