@import "../../theme/antd-custom.scss";

.timerContainer {
  display: grid;
  grid-gap: 15px;
}

h1.time {
  margin: 0;
  font-size: 44px;
  line-height: 1;
  font-weight: bold;

  .seconds {
    font-size: 1rem;
    font-weight: normal;
    vertical-align: 3px;
    color: $text-color-secondary;
  }
}

.summaryText {
  color: $text-color-secondary;
  opacity: 0.8;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT
        50%{
          background-color: #55d66b;
          border: 5px solid #126620;
        }
        */
  100% {
    opacity: 0.8;
  }
}

.blinker {
  animation: blinking 1s infinite;
}

.timerState {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-gap: 15px;
  align-items: center;
  font-size: 0.9rem;
  justify-content: center;
  span {
    color: $text-color-secondary;
    font-weight: bold;
  }
}

.mainContent {
  justify-self: stretch;
  text-align: center;
}
